<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Header 1</mat-panel-title>
            <mat-panel-description>Total: 30ms</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is content of the expansion panel 1</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Header 2</mat-panel-title>
            <mat-panel-description>Total: 60ms</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is content of the expansion panel 2</p>
        <mat-action-row>
            <button mat-button>Action</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>