<div *ngIf="selectedItem" class="col-md-8">
    <div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">{{selectedItem.cause}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img [src]="selectedItem.imageUrl" alt="" class="img-responsive img-details">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 cause-description">{{selectedItem.description}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-bold amount">
                    <span [class]="amount">${{selectedItem.collectedAmount}}</span>
                    from
                    <span>$</span>{{selectedItem.neededAmount}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="donatedAmount"></label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input #amountInput type="number" class="form-control" id="donatedAmount" placeholder="Amount">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" (click)="makeDonation()">Make donation</button>
                </form>
            </div>
        </div>
        <hr>
    </div>
</div>

<div *ngIf="!selectedItem" class="col-md-8">
    <h1>Please select cause</h1>
</div>